<form method="post" action="index.php" >
<label>Nome de usuário</label>
<input type="text" name="login" id="login" /><br />
<label>Senha</label>
<input type="password" name="senha" id="senha" /><br />
<input type="submit" value="Login"  />
</form>