@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{ /* responsividade parcial */
margin:0;
padding:0;
}

.container{
text-align:center;
margin-top:360px;
}

.btn{
	border:1px solid #3498db;
	background:none;
	padding:10px 20px;
	font-size:20px;
	font-family:pacifico,"montserrat";
	cursor:pointer;
	margin:10px;
	transition:0.8s;
	position:relative;
	overflow:hidden;
}

.btn1{
	color:#3498db;
}

.btn2{
	color:#fff;
}

.btn1:hover{
	color:#fff;
}

.btn2:hover{
	color:#3498db;
}

.btn::before{
	content:"";
	position:absolute;
	left:0;
	width:100%;
	height:0%;
	background:#3498db;
	z-index:-1;
	transition:0.8s;
}

.btn1::before{
	top:0;
	border-radius:0 0 50% 50%;
}

.btn2::before{
	bottom:0;
	border-radius:50% 50% 0 0;
}

.btn2::before{
height:180%;
}
.btn1:hover::before{
	height:180%;
}

.btn2:hover::before{
	height:0%;
}