@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

table{
	margin-left:2.5%;
	margin-top:2.5%;
	border-collapse:collapse;
	border: 1.2px solid #000;
}

th{
	background-color:black;
	color:white;
    font-family: 'Fira Sans', sans-serif;
	}
	
td{
	font-family: 'Fira Sans', sans-serif;
}	

tr{
	transition:1.7s;	
}

tr:hover{
	background-color:#EEEEE0;
}