<form action="muda.php" method="post" class="testesp">
<ul>
<li><select name="color">
	<option>Temas</option>
	<option value="1">Tema Escuro</option>
</select></li>

<li><button type="submit" name="enviar" value="eviar" class="css3button">Usar</button></li>
</ul>
</form>
<style type="text/css">

form.testessp{
width:20%;
background-color:red;
}

.testessp, ul{
	list-style-type:none;
}

.testessp, li{
	padding-top:5px;
}

.testessp, select{
	border:0.7px solid #B4CDF3;
	border-radius:2px;
	background:#F1F5F3;
	color:#659AEC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	padding: 6px 18px;	
}

.testessp, button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 8px 23px;
	background: -moz-linear-gradient(
		top,
		#005eff 0%,
		#00c4ff);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#005eff),
		to(#00c4ff));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(122,118,122,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(122,118,122,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(122,118,122,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		-1px -1px 0px rgba(0,0,0,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
		margin-left:3.25%;
}


</style>