.body {
	background-color: #adbbc9; MARGIN: 0px; BACKGROUND-REPEAT: repeat-x
}
.border2 {
	BORDER-RIGHT: #999999 thin solid; BORDER-TOP: #999999 thin; BORDER-LEFT: #999999 thin; BORDER-BOTTOM: #999999 thin
}
#Layer1 {
	Z-INDEX: 1; LEFT: 7px; WIDTH: 93px; POSITION: absolute; TOP: 7px; HEIGHT: 93px
}
.style4 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: auto; FONT: 12px Trebuchet MS; COLOR: #566c83; PADDING-TOP: 1px; HEIGHT: 12px
}
.style5 {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif
}
.style6 {
	FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff
}
.style7 {
	FONT: bold 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #cccccc
}
.style8 {
	FONT: 14px "Courier New", Courier, monospace; TEXT-TRANSFORM: none; COLOR: #748e9c
}
.style11 {
	FONT-WEIGHT: bold; COLOR: #000066
}
.rapidas {
	FONT-SIZE: 14px
}
.menu {
	CLEAR: right; FLOAT: right; FONT: 10px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: capitalize; CURSOR: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 5px; BORDER-BOTTOM-STYLE: none
}
.border {
	BORDER-BOTTOM-COLOR: #cccccc; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP-COLOR: #cccccc; BORDER-RIGHT-COLOR: #cccccc
}
.quadrado {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.borda_v {
	BORDER-RIGHT: #cccccc 2px; BORDER-TOP: #cccccc 2px; BORDER-LEFT: #cccccc 1px dashed; BORDER-BOTTOM: #cccccc 2px
}
.border_sup {
	BORDER-RIGHT: #cccccc 1px; BORDER-TOP: #cccccc 1px dashed; BORDER-LEFT: #cccccc 1px; BORDER-BOTTOM: #cccccc 1px
}
.coment {
	FONT: italic 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #9d6666
}
.border_inf {
	BORDER-RIGHT: #cccccc 1px; BORDER-TOP: #cccccc 1px; BORDER-LEFT: #cccccc 1px; BORDER-BOTTOM: #cccccc 1px dashed
}
.text {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: auto; COLOR: #666666; PADDING-TOP: 1px; FONT-FAMILY: "Trebuchet MS"; HEIGHT: 17px
}
.stylemenu1 {
	PADDING-RIGHT: 1px; BACKGROUND-POSITION: center center; PADDING-LEFT: 1px; BACKGROUND-IMAGE: url(../imagens/fnd_button1.gif); PADDING-BOTTOM: 1px; MARGIN: auto; FONT: 12px Trebuchet MS; COLOR: #566c83; PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.stylemenu2 {
	PADDING-RIGHT: 1px; BACKGROUND-POSITION: center center; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../imagens/fnd_button2.gif); PADDING-BOTTOM: 1px; MARGIN: auto; COLOR: #ffffff; PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "Trebuchet MS"; HEIGHT: 12px
}
A:link {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: auto; COLOR: #666666; BORDER-TOP-STYLE: none; PADDING-TOP: 1px; FONT-FAMILY: "Trebuchet MS"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 12px; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none; text-shadow: #999999
}
A:visited {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: auto; COLOR: #666666; PADDING-TOP: 1px; FONT-FAMILY: "Trebuchet MS"; HEIGHT: 12px; TEXT-DECORATION: none; text-shadow: #999999
}
A:hover {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: auto; COLOR: #666666; PADDING-TOP: 1px; FONT-FAMILY: "Trebuchet MS"; HEIGHT: 12px; TEXT-DECORATION: underline; text-shadow: #999999
}
A:active {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: auto; COLOR: #666666; PADDING-TOP: 1px; FONT-FAMILY: "Trebuchet MS"; HEIGHT: 12px; TEXT-DECORATION: underline; text-shadow: #999999
}
.rapidas {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: 'Tahoma', 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.rapidas :visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.rapidas :active {
	COLOR: #333333; TEXT-DECORATION: none
}
.rapidas :link {
	TEXT-DECORATION: none
}
.rapidas :hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.noticias_rapidas {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: 'Tahoma', 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.noticias_rapidas :visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.noticias_rapidas :active {
	COLOR: #333333; TEXT-DECORATION: none
}
.noticias_rapidas :link {
	TEXT-DECORATION: none
}
.noticias_rapidas :hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.menu_sup {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: 'Tahoma', 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.menu_sup :visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menu_sup :active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menu_sup :link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menu_sup :hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.comentarios {
	FONT-SIZE: 11px; COLOR: #444444; FONT-FAMILY: 'Trebuchet MS'; TEXT-DECORATION: none
}
.comentarios :visited {
	COLOR: #444444; TEXT-DECORATION: none
}
.comentarios :active {
	COLOR: #444444; TEXT-DECORATION: none
}
.comentarios :link {
	TEXT-DECORATION: none
}
.comentarios :hover {
	COLOR: #444444; TEXT-DECORATION: underline
}
.menu_inferior {
	FONT-SIZE: 11px; COLOR: #003063; FONT-FAMILY: 'Tahoma', 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.menu_inferior :visited {
	COLOR: #003063; TEXT-DECORATION: none
}
.menu_inferior :active {
	COLOR: #003063; TEXT-DECORATION: none
}
.menu_inferior :link {
	COLOR: #003063; TEXT-DECORATION: none
}
.menu_inferior :hover {
	COLOR: red; TEXT-DECORATION: underline
}
.link_interno {
	FONT-SIZE: 11px; COLOR: #000080; FONT-FAMILY: 'Tahoma', 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.link_interno :visited {
	COLOR: #000080; TEXT-DECORATION: none
}
.link_interno :active {
	COLOR: #000080; TEXT-DECORATION: none
}
.link_interno :link {
	COLOR: #000080; TEXT-DECORATION: none
}
.link_interno :hover {
	COLOR: red; TEXT-DECORATION: underline
}
.menu {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: 'Tahoma', 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.menu :visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menu :active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menu :link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menu :hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.fotografo {
	FONT-SIZE: 9px; COLOR: #333333; FONT-FAMILY: 'Tahoma', 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.fotografo :visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.fotografo :active {
	COLOR: #333333; TEXT-DECORATION: none
}
.fotografo :link {
	COLOR: #333333; TEXT-DECORATION: none
}
.fotografo :hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.atualizacao {
	FONT-SIZE: 10px; COLOR: #003366; FONT-FAMILY: 'Tahoma', 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.atualizacao :visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.atualizacao :active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.atualizacao :link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.atualizacao :hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.corpo_manchete {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: 'Tahoma', 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.corpo_manchete :visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.corpo_manchete :active {
	COLOR: #333333; TEXT-DECORATION: none
}
.corpo_manchete :link {
	TEXT-DECORATION: none
}
.corpo_manchete :hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.manchete_principal_titulo {
	FONT-SIZE: 16px; COLOR: #333333; FONT-FAMILY: 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.manchete_principal_titulo :visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.manchete_principal_titulo :active {
	COLOR: #333333; TEXT-DECORATION: none
}
.manchete_principal_titulo :link {
	TEXT-DECORATION: none
}
.manchete_principal_titulo :hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.manchete_principal_manchete {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.manchete_principal_manchete :visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.manchete_principal_manchete :active {
	COLOR: #333333; TEXT-DECORATION: none
}
.manchete_principal_manchete :link {
	TEXT-DECORATION: none
}
.manchete_principal_manchete :hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.manchete_principal_leia {
	FONT-SIZE: 9px; COLOR: #333333; FONT-FAMILY: 'Verdana', 'Arial', 'Helvetica'; TEXT-DECORATION: none
}
.manchete_principal_leia :visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.manchete_principal_leia :active {
	COLOR: #333333; TEXT-DECORATION: none
}
.manchete_principal_leia :link {
	TEXT-DECORATION: none
}
.manchete_principal_leia :hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.Titulo_Materia_Principal {
	FONT-SIZE: 15px; COLOR: #000066; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.frase {
	FONT-SIZE: 11px; COLOR: #000066; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.Data {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.frase-autor {
	FONT-SIZE: 9px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none
}
.Indique_form {
	FONT-SIZE: 10px; WIDTH: 90px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Titulo {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.Titulo_noticia {
	FONT-SIZE: 14px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.Titulos_Internas {
	FONT-SIZE: 16px; COLOR: #000066; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.Inserir-Materia {
	FONT-SIZE: 10px; WIDTH: 300px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sar-form {
	FONT-SIZE: 10px; WIDTH: 75px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.fundonaorepetido {
	BACKGROUND-REPEAT: no-repeat
}
