@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.titulo{
    font-family: 'Cabin Sketch', cursive;
}

.titulo h2{
    border-bottom-style: dashed;
    border-bottom-width: 2px;
}

.caixa{
    border-style: solid;
    border-color: rgb(10, 10, 10);
    border-width: 2px;
    text-align: center;
}

.tabela{
    border-collapse: collapse;
}

.frase{
    border-left-style: solid;
    border-left-color: #ff7300;
    border-left-width: 3px;
}

.tabela table, th, td {
    border: 2px solid black;
    padding: 2%;
  }

.citacao{
    font-style: italic;
    text-align: center;
    font-size: 16px;
}

.redes a{
    font-size: 22px;
    color:rgb(220, 220, 220);
}

.redes a:hover{
    color:#ff7300;
}

.fml{
    font-family: 'MedievalSharp', cursive;
}

ul.hab{
    list-style-type: none;
    text-decoration: none;
}

.classificacao{
    color:#ff7300;
}

.cor{
    background-color:#ff7300;
    color:#fff;
}

div.tricolor{
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: red;
    background-color: white;
    padding: 2px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: black;
    width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}

.components a{
    font-family: 'Roboto Mono', monospace;
    color:#fff;
    position: relative;
    display: inline-block;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    Estilo da Sidebar
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgba(0, 0, 0, 0.884);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(10, 10, 10);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgb(10, 10, 10);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgb(10, 10, 10);
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgb(10, 10, 10);
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(10, 10, 10);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #ff7300;
}

a.article, a.article:hover {
    background: #ff7300 !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    Estilo do conteúdo
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

/* ---------------------------------------------------
    Dark Mode
----------------------------------------------------- */

#switch {
    visibility: hidden;
    position: absolute;
}

.switch-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.5s all ease;
}

.switch-label .toggleer {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #ff7300;
    position: absolute;
    left: 3px;
    transition: .5s all ease;
}

.wrapperer {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
    width: 100%;
}

#switch:checked ~ .switch-label {
    background: #ff7300;
    border: none;
    transition: .5s all ease;
}

#switch:checked ~ .switch-label .toggleer {
    height: 12.5px;
    border-radius: 25px 25px 0 0;
    background: transparent;
    box-shadow: 0 -6px 0 0 #fff;
    transform: scale(0.8) translateX(75px) rotate(90deg);
    transition: .7s all ease;
}

.dark {
    background: rgb(30, 30, 30);
    color:rgb(220, 220, 220);
    transition: 1s all ease;
}


/* ---------------------------------------------------
    Galeria
----------------------------------------------------- */


.gallery-section{
    width: 100%;
  }
  
  .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .gallery-section h1{
    text-align: center;
    color: #fff;
  }
  
  .gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  
  .gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .gallery-section .image:hover img{
    transform: scale(1.4) rotate(5deg);
  }
  
  @media screen and (max-width:960px) {
    .gallery-section .image{
      flex: 33.33%;
    }
  }
  
  @media screen and (max-width:768px) {
    .gallery-section .image{
      flex: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .gallery-section .image{
      flex: 100%;
    }
  }  

/* ---------------------------------------------------
    Hobbies
----------------------------------------------------- */

.box{
    position: relative;
}

.box .content{
    /* width: 600px;
    height:400px; */
    background: #000;
    transform: scaleX(0);
    transform-origin: left;
    animation: reveal 1s ease-in-out forwards;
}

.box .content:before{
    content: '';
    /* position: absolute; */
    top: 0;
    left: 0;
    /*width: 100%;
    height: 100%;*/
    background: #000;
    z-index: 1;
    animation: reveal 1s reverse forwards;
    animation-delay: 1s;
    transform-origin: right;
}

.box .content img{
    /* position: absolute; */
    top: 0;
    left: 0;
    /*width: 100%;
    height: 100%;*/
    object-fit: cover;
}

@keyframes reveal{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

.box .content h2{
    font-weight: bolder;
    position: absolute;
    right:-80px;
    bottom:40px;
    margin:0;
    padding: 10px;
    background:#fff;
    z-index: 2;
    box-shadow: 0 10px 15px rgba(0,0,0,.20);
    transform: scaleX(0);
    transform-origin: left;
    animation: reveal 1s ease-in-out forwards;
    animation-delay: 1s;
}

.box .content h2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    animation: reveal 1s reverse forwards;
    animation-delay: 1s;
    transform-origin: right;
}

.peso{
    font-weight: 500;
}
.sombra{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
}

.sombra2{
    -webkit-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.14);
-moz-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.14);
box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.14);
}

/* ---------------------------------------------------
    MEDIAQUERIES p/ Responsividade
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
