@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html{
	scroll-behavior:smooth;
	font-family: 'Source Sans Pro', sans-serif;	
}

* body{
	margin:0 auto;
	padding:0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
}

nav{
	width:100%;
	background-color:#FEFCFF;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-box-shadow: 0px -35px 61px 24px rgba(0,0,0,0.49);
	-moz-box-shadow: 0px -35px 61px 24px rgba(0,0,0,0.49);
	box-shadow: 0px -35px 61px 24px rgba(0,0,0,0.49);
}

div.logo{
	position:relative;
	margin-top:1%;
	left:2%;
}

div.menu{
	width:100%;
}

h1 h2 h3 h4 h5{
	font-family: 'Chakra Petch', sans-serif;
}

nav, div, a{
	float:left;
}

.cat_drop{
	position:relative;
	margin-top:2.2%;
	left:8%;
}

.dropbtn {
    background-color: #FEFCFF;
    color: #6D7B8D;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-conteudo {
    display: none;
    position: absolute;
    background-color: #FEFCFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-conteudo a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	width:190px;
	font-family: 'Source Sans Pro', sans-serif;	
}

.dropdown-conteudo a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-conteudo {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FEFCFF;
}

div.busca{
	position:relative;
	margin-top:1.7%;
	margin-left:18%;
}

.fa-search{
	color:#FEFCFF;
}

button.busca{
	margin-top:4%;
	margin-left:-2;
	border-style:none;
	background-color:#4863A0;
	font-size:16px;
	width:40px;
	height:35px;	
}

input.buscar{
	position:relative;
	font-size:16px;
	font-family: 'Source Sans Pro', sans-serif;
	border-style:none;
	background-color:#f1f1f1;
	height:35px;
	width:400px;
	padding-left:4%;
}

div.torn_inst{
	position:relative;
	margin-top:3.2%;
	margin-left:5%;
	border:solid 0.6px;
	border-color:#413839;
	border-radius:2.2px;
	padding: 5px 10px 5px 10px;
	transition:0.8s;	
}

.torn_inst a{
	text-decoration:none;
	color:#413839;
}

.torn_inst:hover{
	background-color:#f1f1f1;
}

div.logon_cadastro{
	position:relative;
	margin-top:3.2%;
	margin-left:2%;
	background-color:#48C9B0;
	border:solid 0.6px;
	border-color:#148F77;
	border-radius:2.2px;
	padding: 5px 10px 5px 10px;
	transition:0.8s;
}

.logon_cadastro a{
	text-decoration:none;
	color:#fff;
}

.logon_cadastro:hover{
	background-color:#148F77;
}

div.logi{
	position:relative;
	margin-top:3.2%;
	margin-left:2%;
	background-color:#3498DB;
	border:solid 0.6px;
	border-color:#488AC7;
	border-radius:2.2px;
	padding: 5px 10px 5px 10px;
	transition:0.8s;
}

.logi a{
	text-decoration:none;
	color:#fff;
}

.logi:hover{
	background-color:#357EC7;
}

.text2{
    font:                           10px 'Press Start 2P';
    text-align:                     center;
	background-image: linear-gradient(to left, #092f67, #005b94, #008494, #00a865, #8bc210);
    background-size:                contain;
    margin:                         auto;
    width:                          100%;
    background-clip:                text;
    -webkit-background-clip:        text;
    color:                          transparent;
}

.logo img{
	margin-left:7%;
}

div.msg{
width:45%;
height:35%;
color:#ECF0F1;
position:relative;
margin-top:-25%;
left:7.5%;
}

.msg h1{
font-size:38px;
text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
transition:0.6s;
}

.msg h1:hover{
text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.msg p{
text-indent:2%;
font-size:20px;
color:#ECF0F1;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}

div.info{
	position:relative;
	width:35%;
	margin-top:-27%;
	left:65%;
}

div.info i{
	font-size:23px;
	margin-right:1.3%;
}

div.info p{
	text-indent:2%;
}

main{
	positon:relative;
	left:0;
	top:0;
	width:100%;
}

section.categorias{
	width:100%;
	background-color:#f1f1f1;
}

div.tit{
	width:100%;
}

.tit h2{
	padding-left:5%;
	padding-top:0.5%;
	color:#000;
	font-style:normal;
	font-weight:550;
}

.nmcat a{
	text-decoration:none;
	color:#3EA99F;
}

#nm{
	margin-left:15%;
}

.nmcat{
	margin-top:1%;
	margin-left:5%;
	padding:14px 14px 14px 14px;
	border-radius:3px;
	border:solid 0.8px;
	border-color:#3EA99F;
	background-color:rgb(240,240,240);
	color:#3EA99F;
	transition:0.3s;
}

.nmcat:hover{
	-webkit-box-shadow: -1px -1px 10px 0px rgba(55, 55, 55, 0.85);
	-moz-box-shadow:    -1px -1px 10px 0px rgba(55, 55, 55, 0.85);
	box-shadow:         -1px -1px 10px 0px rgba(55, 55, 55, 0.85);
}

.servicos{
	background:#f1f1f1;
	text-align:center;
	width:100%;
}

.categorias h1{
	display:inline-block;
	text-transform:uppercase;
	border-bottom:4px solid #3EA99F;
	font-size:20px;
	padding-bottom:10px;
	margin-top:15%;
	position:relative;
	margin-left:-53.5%;
}

div.linha{
	background-color:#3EA99F;
	height:0.5px;
	width:100%;
	position:relative;
	top:35px;
}

.cen{
	max-width:100%;
	margin:auto;
	overflow:hidden;
	padding:20px;
}

.servico{
	display:inline-block;
	width:calc(100%/3);
	margin:0 -2px;
	padding:20px;
	box-sizing:border-box;
	cursor:pointer;
	transition:0.4s;
}

.servico:hover{
	background-color:#ddd;
}

.servico i{
	color:#3EA99F;
	font-size:34px;
	margin-bottom:30px;
}

.servico h2{
	font-size:18px;
	text-transform:uppercase;
	font-weight:500;
	margin:0;
}

.servico p{
	color:gray;
	font-size:15px;
	font-weight:500;
}

section.alunos{
	overflow:hidden;
	background-image: url(../imagens/lm.jpg);
	position:relative;
	width:100%;
	color:rgba(100,100,100,0.6);
}

.box{
  width: 22%;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  border-radius:4px;
}

.box-img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.box h1{
  font-size: 26px;
  letter-spacing: 4px;
  font-weight: 100;
}

.box p{
  text-align: justify;
}

.gotopbtn{
	position:fixed;
	width:50px;
	height:50px;
	background:#48C9B0;
	bottom:40px;
	right:50px;
	text-decoration:none;
	text-align:center;
	line-height:50px;
	color:white;
	font-size:22px;
	border-radius:40px;
}

.fa-arrow-up{
	margin-top:25%;
}

section.algo{
	width:100%;
}

div.duvid{
	width:100%;
	position:relative;
	margin-top:-21.5%;
	left:0%;
	color:#fff;
	text-align:center;
}

.duvid h1{
	font-size:32px;
}

.duvid p{
	font-size:18px;
}

a.duv, button.duv{
	position:relative;
	margin:25px;
	width:100%;
	height:50px;
	right:-282.5%;
	font-size:18px;
	background-color:#138D75;
	color:white;
	border:solid 0.4px;
	border-color:#D6DBDF;
	border-radius:3px;
	padding: 1px 1.5px 1px 1.5px;
	transition:0.8s;
}

button.duv:hover{
	background-color:#45B39D;
}

footer{
	overflow:hidden;	
	position:relative;
	width:100%;
	height:280px;
	background-color:#FEFCFF;
	color:#148F77;
	-webkit-box-shadow: 0px 17px 48px 10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 17px 48px 10px rgba(0,0,0,0.75);
	box-shadow: 0px 17px 48px 10px rgba(0,0,0,0.75);
	margin:0;
	padding:0;
	border-style: solid;
    border-width: 0px 0px 6px 0px;
	border-color:#45B39D;
}

footer a {
	color:#148F77;
	text-decoration:none;
	transition:0.4s;
}

footer a:hover{
	color:#117A65;
	font-weight:bold;
}

div.dados{
	position:relative;
	width:100%;
	margin-top:3.2%;
	height:100px;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
	border-color:#E5E7E9;
}

.direitos{
	width:20%;
	height:100px;
}

.direitos p{
	margin-left:20%;
	margin-top:12.5%;
}

.burocracia{
	position:relative;
	width:40%;
	margin-left:59%;
	margin-top:-4.9%;
}

.burocracia a {
	padding-left:5%;
}

div.links{
	width:100%;
	height:140px;
	position:relative;
}

aside{
	margin-left:1%;
}

.ld{
	margin-top:2%;
	padding-left:2%;
	width:20%;
}

aside.ld2{
	margin-left:22.5%;
	width:20%;
	position:relative;
	top:-42.5%;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
	border-color:#E5E7E9;
	padding-left:1%;
}

.alunos h2{
	margin-left:35%;
	line-height:100px;
	font-size:32px;
}

section.pp{
	width:80%;
	position:relative;
	display:block;
	margin-left:10%;
	margin-top:5%;
	text-align:justify;
	margin-bottom:5%;
}

.pp h1{
	font-size:32px;
	text-align:center;
}

.pp h2{
	text-align:center;	
}

.pp h2 a{
	text-align:center;
	text-decoration:none;
}

@keyframes aaa{
	0%{
		left:-110%;
		top:90%;
	}50%{
		left:10%;
		top:-30%;
	}100%{
		top:-10;
		left:-10;
	}
}

/* ============= CONSULTAS DE MÍDIA =================== */

@media only screen and (max-width: 1000px) {
    .burocracia {
        margin-top:-8%;
    }
}

@media only screen and (max-width: 630px) {
    .burocracia {
        margin-top:-14%;
    }
}

@media only screen and (max-width: 450px) {
    .burocracia {
        margin-top:-24%;
    }
}

@media only screen and (max-width: 345px) {
    .burocracia {
        margin-top:-35%;
    }
}

@media only screen and (max-width: 925px) {
    .local {
        display:none;
    }
}

@media screen and (max-width:980px;){
	.col{
		flex:50%;
	}
}

@media screen and (max-width:700px;){
	.col{
		flex:100%;
	}
}

@media screen and (max-width:800px){
	.servico{
			width:50%;
	}
}

@media screen and (max-width:500px){
	.servico{
			width:100%;
	}
}

@media screen and (max-width:1300px){
	button.duv{
			margin-left:-10%;
	}
}