/*Estrutura visual do campo de login*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

 div.banana{
	 height:320px;
	 width:500px;
	 background-color:#3db2e1;
	 border-style:double;
	 border-width:6px;
	 border-radius: 30px;
	 font-family:'Roboto Condensed', sans-serif;
	 font-size:17.5px;
	 color:black;
 }
 
.txt {
	border: none;
	height:40px;
}

.bradius{
border-radius:6px;
-webkit-border-radius:6px;
-moz-border-radius:6px;
height:40px;
width:200px;
padding-left:5px;
}

.vem{
	position:relative;
	top:-50px;
}

/*ALTERA DIRETAMENTE OS NOMES SENHA E USUARIO*/
.pera{
	position:relative;
	top:20px;
	left:-120px;
	font-size:20px;
	line-height:110%;
}


/* ALTERA A CAIXA DE TEXTO DO USUARIO E SENHA */
.tomate{
	position:relative;
	top:-60px;
	left:40px;
}

.sb{
	-webkit-border-radius:20px;
display:block;
border:solid 4px white;
width:60%;
height:40px;
margin-top:5px;
transition:0.6s;
}

.sb:hover{
	background-color:#A0BCD8;
}

 @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
    background-color: white;
	margin:0;
	padding:0;
	margin-top:0%;
}

/*Estrutura do menu da pagina */

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu > ul {
  background: #3db2e1;
}
#cssmenu > ul > li {
  float: left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: left;
}
#cssmenu > ul > li > a {
  padding: 19px 50px;
  font-size: 15px;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background: #3db2e1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#cssmenu ul li.active a{
	background-color:#fff;
}

#cssmenu > ul > li.active:hover > a::before,
#cssmenu > ul > li.active > a:hover::before {
  background: #fff;
}

#cssmenu > ul > li.active > a {
  color: #3db2e1;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #dff2fa;
  -webkit-transform: rotateX(90deg) translateY(-23px);
  -moz-transform: rotateX(90deg) translateY(-23px);
  transform: rotateX(90deg) translateY(-23px);
  -ms-transform: none;
}
#cssmenu > ul > li > a::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  color: #dff2fa;
  background: #19799f;
  content: attr(data-title);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: translateY(- -18px);
}
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
  background: #3db2e1;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: center;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
  color: #dff2fa;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
#cssmenu.small-screen > ul > li > a::before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #3db2e1;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 17px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 22px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #dff2fa;
  border-bottom: 2px solid #dff2fa;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #dff2fa;
}

#cssmenu{
	margin-left:19.5%;
	
}

.macaxera{
	background-color:#3db2e1;
	width:270px;
	height:53px;
	margin-left:0;
	position:absolute;
	top:0%;
	left:0%;
}

/*Estrutura dos botões das redes sociais */

.social{
 padding: 0px;
 margin: 0px;
 
} 

.section{
 margin: 1px auto;
 width: 390px;
 height: 10px;
}

.rede{
 width: 70px;
 height: 70px;
 float: left;
 margin-left: 20px;
 transition: all 0.4s ease-out;
 border-radius: 90%;
 position:center;
}

.rede:hover{
 cursor: pointer;
 transform: translateY(-20px);
 box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
}

.rede#facebook{
 background-color: #2372a3;

}
.rede#twitter{
 background-color: #0084b4;
}
.rede#instagram{
 background-color: #8B1998;
}

.rede#youtube{
 background-color: #8B0000;
}

.icone{
 margin:0px auto;
 position: center;
 padding: 13px;
 width: 45px;
}

div.coala {
background-color:#ffffff;
width: 300px;
border-width:200px;
border-radius: 40px;
padding-left:100px;
position: center;
margin:0px auto;
font-size:20px;
margin: 1px auto;

}

div.macaquinho{
	padding-top:1%;
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color:#f1f1f1;
	width:100%;
	font-size:17px;
	font-family: 'Ubuntu', sans-serif;	
}

u{
	font-weight:bolder;
}

.container{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}

ul{
	margin: 0 0 40px;
	padding:0;
	position:relative;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:flex-end;
}

ul li{
	list-style:none;
	margin:0 0 40px;	
}

ul li .slide{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	height:100%;
	transition:transform 0.5s;
	transform:rotateY(90deg);
	transform-origin:left;
}

ul li input [type="radio"]{
	position:relative;
	z-index:1;
	height:20px;
	width:20px;
}

ul li input[type="radio"]:checked ~ .slide{
	transition:transform 0.5s;
	transform:rotateY(0deg);
	transform-origin:right;
}

section{
	height:100vh;
}