<meta charset="utf-8"/>
	<script>
		alert("Olá, eu sou um programa que calcula o seu IMC.");
		alert("Siga o exemplo para um resultado exato.");		
	</script>
	<style>
		body{
			font-size:18px;
			margin-left:35%;
			margin-top:4%;
		}
	</style>
	<title>Exercício: 2
	</title>
		<form action="Exerc2.php" method="get" name="imc">
			<label>Insira a altura
			</label>
					<input type="text" name="alt" placeholder="Exemplo 1.93"/>	
				<br/>
				<br/>					
			<label>Insira o peso
			</label>
					<input type="text" name="ps" placeholder="Exemplo: 75.6"/>
				<br/>
				<br/>
					<input type="submit" name="env"/>
					<input type="reset" name="rst"/>
		</form>