<meta charset="utf-8"/>
	<title> Exercício: 1
	</title>
	<script>
		alert("Olá! Eu sou um programa que te ajudará a fazer contas matemáticas!!!");
	</script>
	<style>
		body{
			margin-left:37.5%;
			margin-top:5%;
		}
	</style>
		<form action="Exerc1.php" method="get" name="exc1">
			<h1>Insira os algarismos</h1>
				<br/>
					<label>1º Algarismo
					</label>
						<input type="number" name="n1"/>
				<br/>
				<br/>
					<label>2° Algarismo
					</label>
						<input type="number" name="n2"/>
				<br/>
				<br/>
					<label>Defina a conta
					</label>
							<select name="contas">
								<option value="mais">+
								</option>
								<option value="menos">-
								</option>
								<option value="divide">/
								</option>
								<option value="vezes">X
								</option>
							</select>
				<br/>
				<br/>
						<input type="submit" name="env"/>
						<input type="reset" name="rst"/>
		</form>