<meta charset="utf-8"/>
<script>
	alert("Oi! Eu sou um programa que verifica a sua média aritmética!!");
</script>
<style>
	body{
		margin-left:37%;
		margin-top:4%;
	}
</style>
	<title> Exercício: 3
	</title>
		<form action="Exerc3.php" method="get" name="nts">
			<h1>Insira as notas
			</h1>
				<br/>
					<label>Primeira nota
					</label>
						<input type="number" name="1nt"/>
				<br/>
				<br/>
					<label>Segunda nota
					</label>
						<input type="number" name="2nt"/>
				<br/>
				<br/>
					<label>Terceira nota
					</label>
						<input type="number" name="3nt"/>
				<br/>
				<br/>
					<label>Quarta nota
					</label>
						<input type="number" name="4nt"/>
				<br/>
				<br/>
						<input type="submit" name="env"/>
						<input type="reset" name="rst"/>
		</form>